.react-datetime-picker__calendar .react-calendar {
    z-index: 999;
}

.react-calendar {
    z-index: 999;
}

.react-datetime-picker.react-datetime-picker--open.react-datetime-picker {
    z-index: 999;
}